 #kennel-title {
   color: black !important;
 }

 .dn {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 #kennel-mission {
   color: black !important;
 }

 #kennel-policy {
   color: black !important;

 }

 #kennel-table-tittle {
   color: black !important;
 }
