<footer class="fixar-rodape">
  <div class="footer">
    <div class="footer-bg">
      <div class="dog">
        <svg width="102" height="102" viewBox="0 0 102 102" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M99.9879 56.419C100.851 59.5785 101.283 61.1585 100.797 62.614C100.31 64.0695 99.0154 65.075 96.4254 67.086L57.2339 97.5125C54.2389 99.8375 52.7419 101 50.9999 101C49.2579 101 47.7609 99.8375 44.7659 97.5125L5.57434 67.086C2.98434 65.075 1.68934 64.0695 1.20324 62.614C0.71714 61.1585 1.14879 59.5785 2.01214 56.419L17.154 1L31.4396 34.2721C32.7187 37.2513 33.3583 38.7409 34.6299 39.5779C35.9015 40.4148 37.5251 40.4148 40.7723 40.4148H61.2274C64.4749 40.4148 66.0984 40.4148 67.3699 39.5779C68.6414 38.7409 69.2814 37.2513 70.5604 34.2721L84.8459 1L99.9879 56.419Z" stroke="#141B34" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <div class="face">
        <svg width="60" height="86" viewBox="0 0 60 86" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5.75759 36.0554C1.68359 36.0554 0.833344 36.855 0.833344 40.685V47.6296C0.833344 51.46 1.68359 52.2591 5.75759 52.2591H15.6061V80.0371C15.6061 83.8671 16.4563 84.6666 20.5303 84.6666H30.3788C34.4529 84.6666 35.3029 83.8671 35.3029 80.0371V52.2591H46.3613C49.4513 52.2591 50.2475 51.6946 51.0963 48.9016L53.2067 41.9571C54.6604 37.1725 53.7646 36.0554 48.4717 36.0554H35.3029V24.4815C35.3029 21.9246 37.5075 19.8518 40.2271 19.8518H54.2425C58.3163 19.8518 59.1667 19.0524 59.1667 15.2222V5.96294C59.1667 2.13269 58.3163 1.33331 54.2425 1.33331H40.2271C26.6292 1.33331 15.6061 11.6971 15.6061 24.4815V36.0554H5.75759Z" stroke="#141B34" stroke-width="1.5" stroke-linejoin="round"/>
        </svg>
      </div>
      <div class="git">
        <svg width="102" height="102" viewBox="0 0 102 102" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M30.4118 101V84.7895C30.4118 81.798 31.4935 79.198 33.2376 76.8495C34.4341 75.238 33.6147 72.952 31.4535 72.447C13.5526 68.264 1 61.5385 1 39.2303C1 33.4305 3.23559 27.9778 7.16535 23.232C8.14335 22.0509 8.63229 21.4604 8.74988 20.9255C8.86741 20.3906 8.66306 19.6926 8.25424 18.2966C6.59047 12.6146 6.69829 6.58094 9.19541 1.14114C9.19541 1.14114 14.3554 -0.28791 26.0999 5.94844C28.7813 7.37234 30.1221 8.08429 31.3029 8.24354C32.4835 8.40279 34.0624 8.06919 37.2194 7.40204C41.5371 6.48974 45.9859 5.99999 51 5.99999C56.0141 5.99999 60.4629 6.48974 64.7806 7.40204C67.9376 8.06919 69.5165 8.40279 70.6971 8.24354C71.8782 8.08429 73.2188 7.37234 75.9 5.94844C87.6447 -0.28791 92.8047 1.14114 92.8047 1.14114C95.3018 6.58094 95.4094 12.6146 93.7459 18.2966C93.3371 19.6926 93.1324 20.3906 93.25 20.9255C93.3677 21.4603 93.8565 22.0509 94.8347 23.232C98.7641 27.9778 101 33.4305 101 39.2303C101 61.5385 88.4477 68.264 70.5465 72.447C68.3853 72.952 67.5659 75.238 68.7624 76.8495C70.5065 79.198 71.5882 81.798 71.5882 84.7895V101" stroke="#141B34" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <div class="linkedin">
        <svg width="100" height="106" viewBox="0 0 100 106" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M29.1667 44.1667V75.0834" stroke="#141B34" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M45.8333 57.4167V75.0834M45.8333 57.4167C45.8333 50.0987 51.4296 44.1667 58.3333 44.1667C65.2371 44.1667 70.8333 50.0987 70.8333 57.4167V75.0834M45.8333 57.4167V44.1667" stroke="#141B34" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M29.2 30.9167H29.1626" stroke="#141B34" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10.4167 53C10.4167 33.2207 10.4167 23.331 16.2135 17.1863C22.0104 11.0417 31.3402 11.0417 50 11.0417C68.6596 11.0417 77.9896 11.0417 83.7867 17.1863C89.5833 23.331 89.5833 33.2207 89.5833 53C89.5833 72.7792 89.5833 82.669 83.7867 88.8139C77.9896 94.9584 68.6596 94.9584 50 94.9584C31.3402 94.9584 22.0104 94.9584 16.2135 88.8139C10.4167 82.669 10.4167 72.7792 10.4167 53Z" stroke="#141B34" stroke-width="1.5" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
  </div>
</footer>
