<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2022/09/13/1957582622-videos-de-cachorro.jpg);">
  <div class="container">
    <div class="search">
      <div class="row">
        <div class="col-lg-6 text-center">
          <div class="search-1">
            <input type="text" class="searchTerm" placeholder="Search breed">
          </div>
        </div>

        <div class="col-lg-6 text-center">
          <div class="row">
            <div class="col-11">
              <div class="search-1">
                <input type="text" class="searchTerm" placeholder="Enter city, state, ...">
              </div>
            </div>
            <div class="col-1 text-center">
              <div class="search-2">
                <button type="submit" class="searchButton">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <h1>Find your new best friend!</h1>
    <br>
    <h2>Browse pets from our network of several kennels and rescues.</h2>
    <div class="jt">
      <div class="wrapper">
        <div class="card-1">
          <div class="img-dog">
            <img src="https://cdn-icons-png.flaticon.com/512/194/194279.png" style="height: 100%;">
          </div>
          <h4> Dogs </h4>
        </div>
        <%# <%= link_to dogs_path do  %>
        <%# <% end %>
        <div class="card-2">
          <div class="img-kennel">
            <img src="https://cdn-icons-png.flaticon.com/512/4329/4329143.png" style="height: 100%;">
          </div>
          <h3> Kennels </h3>
        </div>
        <%# <%= link_to kennel_path do  %>
        <%# <% end %>
      </div>
    </div>
  </div>
</div>

<div class="below-banner">
  <h1><strong>How does it work?</strong></h1>
  <div class="how d-flex justify-content-between text-center container">

    <div class="card-product">
      <img src="https://cdn-icons-png.flaticon.com/512/21/21656.png" style="100px"/>
      <div class="card-product-infos">
        <h2>1st Step</h2>
        <br>
        <h4>Choose a breed of choice.</h4>


    <div class="card-product">
      <img src="https://cdn-icons-png.flaticon.com/512/21/21656.png" style="100px"/>
      <div class="card-product-infos">
        <h2>1st Step</h2>
        <br>
        <h4>Choose a breed of choice.</h4>
      </div>
    </div>

    <div class="card-product">
      <img src="https://cdn-icons-png.flaticon.com/512/2954/2954455.png" style="100px"/>
      <div class="card-product-infos">
        <h2>2nd Step</h2>
        <br>
        <h4>Look if that breed is available to adopt.</h4>
      </div>
    </div>

    <div class="card-product">
      <img src="https://cdn-icons-png.flaticon.com/512/769/769660.png" style="100px"/>
      <div class="card-product-infos">
        <h2>3rd Step</h2>
        <br>
        <h4>Get in contact with the kennel and meet your new best friend.</h4>
      </div>
    </div>
  </div>
</div>


    <%# <div class = "row">
      <div class = "ps-5 col text-center m-5">
        <h1><strong>How does it work?</strong></h1>
        <p>Are you interested in a game with friends but can't find a field near you? Take the hassle out of looking for a place to place and reserve a field here! Just choose a date and time, book, and get ready to play!</p>
      </div>
      <div class="col">
        <img src="https://images.unsplash.com/photo-1533412684394-da8846084634?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=838&q=80">
      </div>
    </div> %>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1543466835-00a7907e9de1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);">
  <h1>Pets Available for Adoption</h1>
</div>

<%# <div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1477884213360-7e9d7dcc1e48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="d-block w-100" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title 2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card-product">
      <img src="https://cdn-icons-png.flaticon.com/512/2954/2954455.png" style="100px"/>
      <div class="card-product-infos">
        <h2>2nd Step</h2>
        <br>
        <h4>Look if that breed is available to adopt.</h4>
      </div>
    </div>

    <div class="card-product">
      <img src="https://cdn-icons-png.flaticon.com/512/769/769660.png" style="100px"/>
      <div class="card-product-infos">
        <h2>3rd Step</h2>
        <br>
        <h4>Get in contact with the kennel and meet your new best friend.</h4>
      </div>
    </div>
  </div>

</div>

  <div class="jtw">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1543466835-00a7907e9de1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);">
      <h1>Pets Available for Adoption</h1>
<!-- Slider main container -->
      <div class="container">
        <div class="swiper" data-controller="swiper">
            <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="card">
                <div class="image-box">
                  <img src="https://images.unsplash.com/photo-1477884213360-7e9d7dcc1e48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
                </div>
                <div class="profile-details">
                  <img src="https://as1.ftcdn.net/v2/jpg/02/41/61/96/1000_F_241619660_zqRbCqy1usdIiLkU5eOjbn0w2g57MhPC.jpg">
                  <div class="name-job">
                    <h3 class="name">Jack</h3>
                    <h4 class="age">Young</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <div class="image-box">
                  <img src="https://images.unsplash.com/photo-1450096315186-13dc369ab43e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
                </div>
                <div class="profile-details">
                  <img src="https://as2.ftcdn.net/v2/jpg/03/81/66/19/1000_F_381661973_bLQLqpugCs0cjxiBpprhw6HJP15OTK3u.jpg">
                  <div class="name-job">
                    <h3 class="name">Cookie</h3>
                    <h4 class="age">Adult</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <div class="image-box">
                    <img src="https://images.unsplash.com/photo-1597633425046-08f5110420b5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
                </div>
                <div class="profile-details">
                  <img src="https://as1.ftcdn.net/v2/jpg/05/31/46/42/1000_F_531464225_VJ1cT22Nkab29Oy8fgRriqEg1ph5YT1x.jpg">
                  <div class="name-job">
                    <h3 class="name">Milu</h3>
                    <h4 class="age">Puppy</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <div class="image-box">
                    <img src="https://images.unsplash.com/photo-1622820020666-7f5028e3c49c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
                </div>
                <div class="profile-details">
                  <img src="https://as1.ftcdn.net/v2/jpg/05/31/46/42/1000_F_531464225_VJ1cT22Nkab29Oy8fgRriqEg1ph5YT1x.jpg">
                  <div class="name-job">
                    <h3 class="name">Peter Parker</h3>
                    <h4 class="age">Young</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <div class="image-box">
                    <img src="https://images.unsplash.com/photo-1587300003388-59208cc962cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
                </div>
                <div class="profile-details">
                  <img src="https://as1.ftcdn.net/v2/jpg/05/31/46/42/1000_F_531464225_VJ1cT22Nkab29Oy8fgRriqEg1ph5YT1x.jpg">
                  <div class="name-job">
                    <h3 class="name">Bruttus</h3>
                    <h4 class="age">Senior</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <div class="image-box">
                    <img src="https://images.unsplash.com/photo-1576201836106-db1758fd1c97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
                </div>
                <div class="profile-details">
                  <img src="https://as1.ftcdn.net/v2/jpg/05/31/46/42/1000_F_531464225_VJ1cT22Nkab29Oy8fgRriqEg1ph5YT1x.jpg">
                  <div class="name-job">
                    <h3 class="name">Ella</h3>
                    <h4 class="age">Puppy</h4>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
          <!-- If we need scrollbar -->
        </div>
      </div>
    </div>
  </div>

