<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2022/09/13/1957582622-videos-de-cachorro.jpg);">
  <div class="container">
    <div class="search">
      <div class="row">
        <div class="col-lg-6 text-center">
          <div class="search-1">
            <input type="text" class="searchTerm" placeholder="Search breed">
          </div>
        </div>

        <div class="col-lg-6 text-center">
          <div class="row">
            <div class="col-11">
              <div class="search-1">
                <input type="text" class="searchTerm" placeholder="Enter city, state, ...">
              </div>
            </div>
            <div class="col-1 text-center">
              <div class="search-2">
                <button type="submit" class="searchButton">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <h1>Find your new best friend!</h1>
    <br>
    <h2>Browse pets from our network of several kennels and rescues.</h2>
    <div class="jt">
      <div class="wrapper">
        <%# <%= link_to dogs_path do  %>
        <div class="card-1">
          <div class="img-dog">
            <img src="https://cdn-icons-png.flaticon.com/512/194/194279.png" style="height: 100%;">
          </div>
          <h4> Dogs </h4>
        </div>
        <%# <% end %>
        <%# <%= link_to dogs_path do  %>
        <div class="card-2">
          <div class="img-kennel">
            <img src="https://cdn-icons-png.flaticon.com/512/4329/4329143.png" style="height: 100%;">
          </div>
          <h3> Kennels </h3>
        </div>
        <%# <% end %>
      </div>
    </div>
    <%# <div class= "jt"> %>
      <%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2022/09/13/1957582622-videos-de-cachorro.jpg);"> %>
  </div>
</div>

<div class="below-banner">
  <h1> Pets Available for Adoption </h1>
</div>
