<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2022/09/13/1957582622-videos-de-cachorro.jpg);">
  <div class="container">
    <div class="search">
      <div class="row">
        <div class="col-lg-5 text-center">
          <div class="search-1">
            <input type="text" class="searchTerm" placeholder="Search breed">
          </div>
        </div>
        <div class="col-lg-5 text-center">
          <div class="search-1">
            <input type="text" class="searchTerm" placeholder="Enter city, state, ...">
          </div>
        </div>
        <div class="col-lg-2 text-center">
          <div class="search-2">
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <h1>Find your <strong>new</strong> best friend</h1>
    <p>Browse pets from our network of several kennels and rescues.</p>
  </div>
</div>
