.card_kennel {
  width: 700px;
}

.content_kennel {
  width: 700px;
  text-align: -webkit-center;
  border-bottom: solid;
}

.hedears_kennel {
  width: 700px;
  background-color: rgb(151, 149, 149);
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
  text-align: -webkit-center;

}
