.navbar-lewagon {
  justify-content: space-between;
<<<<<<< HEAD
  background: #04B4AE;
  ;
=======
  background:  #04B4AE;
>>>>>>> master
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
