.navbar-lewagon {
  justify-content: space-between;
  background: #04B4AE;
  font-family: 'M PLUS Rounded 1c', sans-serif;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-menu {
  font-size: 13px;
}

#contact {
  padding-right: 10px;
}
