#pet_name{
  border-radius: 125px;


}

#pet_age{
  border-radius: 125px;
  border-color: #04B4AE ;
}

#pet_breed{
  border-radius: 125px;
  border-style: bold;
}

#pet_gender{
  border-radius: 125px;
  border-style: bold;
}

#pet_tipo{
  border-radius: 125px;
  border-style: bold;
}

#pet_size{
  border-radius: 125px;
  border-style: bold;
}

#pet_charac{
  border-radius: 125px;
  border-style: bold;
}

#pet_photos{
  border-radius: 125px;
  border-style: bold;
}
