
#pet_name{
  border-radius: 125px;
  border-color: #04B4AE;
  border-width: 5px;

}

#pet_age, #pet_health, #pet_coat{
  border-radius: 125px;
  border-color: #04B4AE;
  border-width: 5px;
}

#pet_breed{
  border-radius: 125px;
  border-color: #04B4AE;
  border-width: 5px; ;
}

#pet_gender{
  border-radius: 125px;
  border-color: #04B4AE;
  border-width: 5px; ;
}

#pet_tipo{
  border-radius: 125px;
  border-color: #04B4AE;
  border-width: 5px; ;
}

#pet_size{
  border-radius: 125px;
  border-color: #04B4AE;
  border-width: 5px;;
}

#pet_charac{
  border-radius: 125px;
  border-color: #04B4AE;
  border-width: 5px; ;
}

#pet_photos{
  border-radius: 125px;
  border-color: #04B4AE;
  border-width: 5px; ;
}

// Kennel

#kennel_name{
  border-radius: 125px;
  border-color: #04B4AE;
  border-width: 5px;

}

#kennel_address{
  border-radius: 125px;
  border-color: #04B4AE;
  border-width: 5px;
}

#kennel_phone_number{
  border-radius: 125px;
  border-color: #04B4AE;
  border-width: 5px;
}

#kennel_email{
  border-radius: 125px;
  border-color: #04B4AE;
  border-width: 5px;
}

#kennel_photos{
  border-radius: 125px;
  border-color: #04B4AE;
  border-width: 5px;
}

#user_current_password{
  border-radius: 125px;
  border-color: #04B4AE;
  border-width: 5px;
}
